/* .custom-table .ant-table-wrapper .ant-table-thead > tr > th,
:where(.css-dev-only-do-not-override-9xk9ud).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  padding: 8px 16px;

  background: #000 !important;
  border-radius: 0 !important;
} */

.text-detail-wrap {
  white-space: nowrap !important;
  padding-right: 5px !important;
}
