.header {
  height: 63px;
  width: calc(100% - 60px) !important;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed !important;
  z-index: 9;
}

.menu {
  cursor: pointer;
  transition: 0.2s;
}
.menu:hover {
  color: #8b0000 !important;
}

.user-info {
  position: relative;
  cursor: pointer;
}

.role-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-width: 140px;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  z-index: 10;
}

.user-info:hover .role-dropdown {
  max-height: 500px;
  opacity: 1;
}

.role-item {
  padding: 8px 12px;
  font-size: 14px;
  transition: background-color 0.2s;
}

.role-item:hover {
  background-color: #f0f0f0;
}
