@font-face {
  font-family: Roboto;
  src: url("./assets/font/Roboto-Regular.ttf");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-spin-dot-item {
  background-color: #ee3124 !important;
}

.ant-notification-notice .ant-notification-notice-closable {
  display: flex !important;
}
.ant-notification-notice-wrapper {
  background: #ffcdd2 !important;
  display: flex !important;
}
.ant-notification-notice-message {
  color: #8b0000 !important;
}

.ant-notification-notice-icon-error {
  color: #ee3124 !important;
}

.ant-card-body {
  padding: 0 !important;
  margin: 0 !important;
}

p {
  margin: 0;
}

/* * {
  font-family: "Open Sans" !important;
} */
/* #table-demo-size h4 { margin-bottom: 16px; } */

.clickingIcon:hover {
  color: #8b0000;
  cursor: pointer;
}


.ant-row-no-hover:hover > td {
  background: none !important;
}

/* Optional: also remove pointer cursor if you want */
.ant-row-no-hover:hover {
  cursor: default !important;
}
