@font-face {
  font-family: Roboto;
  src: url("./assets/font/Roboto-Regular.ttf");
}
* {
  font-family: "Inter", sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.ant-spin-dot-item {
  background-color: #ee3124 !important;
}

.ant-notification-notice .ant-notification-notice-closable {
  display: flex !important;
  border-radius: 4px !important;
}
/* .ant-notification-notice-wrapper {
  background: #ffcdd2 !important;
  display: flex !important;
}
.ant-notification-notice-message {
  color: #8b0000 !important;
} */

/* .ant-notification-notice-success {
  background-color: #f6ffed !important; 
  color: #389e0d !important;
  border-radius: 8px;
} */

/* Error notification */
/* .ant-notification-notice-error {
  background-color: #fff1f0 !important; 
  color: #cf1322 !important;
  border-radius: 8px;
} */

/* Make the description text white too */
.ant-notification-notice-success .ant-notification-notice-description,
.ant-notification-notice-error .ant-notification-notice-description {
  color: white !important;
}

.ant-card-body {
  padding: 0 !important;
  margin: 0 !important;
}

p {
  margin: 0;
}

.dashboard {
  max-width: 100%;
  padding: 16px 10px 0 10px;
}

.ant-row-no-hover:hover > td {
  background: none !important;
}
/* * {
  font-family: "Open Sans" !important;
} */
/* #table-demo-size h4 { margin-bottom: 16px; } */

.clickingIcon:hover {
  color: #8b0000;
  cursor: pointer;
}

/* .ant-row-no-hover:hover > td {
  background: none !important;
} */

/* Optional: also remove pointer cursor if you want */
/* .ant-row-no-hover:hover {
  cursor: default !important;
} */
/* .ant-modal {
  width: 70% !important; 
}
.ant-modal .ant-modal-content {
  border-radius: 5px !important;
} */
.ant-btn {
  border-radius: 4px;
}
.ant-input {
  border-radius: 4px !important;
}

.ant-btn-color-dangerous {
  box-shadow: none;
}

/* .ant-input:hover,
.ant-input-affix-wrapper:hover {
  border-color: #EE3124 !important;
}


.ant-input:focus,
.ant-input-focused,
.ant-input-affix-wrapper-focused {
  border-color: #EE3124 !important; 
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2) !important;
} */

.ant-popover-inner {
  border-radius: 4px !important ;
}

.ant-select-selector {
  border-radius: 4px !important;
}

.ant-select-dropdown {
  border-radius: 4px !important;
}

.ant-select-item {
  border-radius: 4px !important;
}

.ant-input-number {
  border-radius: 4px !important;
}

h4 {
  margin: 0 !important;
  line-height: 0.8 !important;
}

.ant-input-affix-wrapper {
  border-radius: 4px !important;
}
.ant-modal-content {
  border-radius: 4px !important;
}
.ant-row {
  margin: 0 !important;
}
.ant-col {
  padding-left: 0px !important;
  padding-left: 0px !important;
}

.ant-menu-submenu-popup > .ant-menu {
  border-radius: 4px !important;
}

.ant-menu-submenu-popup .ant-menu-vertical .ant-menu-submenu-title {
  margin: 0 !important;
  width: 100% !important;
}

.red-row {
  background: rgb(251, 217, 219);
}
/* 
.ant-segmented-item {
  background-color: #ee3124;
  color: #000;
}
.ant-segmented-item-selected {
  background-color: #ee3124 !important;
  color: #fff !important;
} */

/* .ant-checkbox-inner {
  border-color: #309933ff !important;
  background-color: #309933ff !important;
} */

.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #fff; /* Your desired checkmark color */
}

/* Example CSS to change the background color of the checkbox when checked */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #309933ff !important; /* Your desired background color */
  border-color: rgb(170, 170, 170); /* Match border color for a solid look */
  color: #309933ff !important;
}
